<div class="container">
  <fieldset>
    <legend>
      <h1>{{ title }}</h1>
    </legend>
    <div style='margin-bottom: 10px'>
      <button type="button" class="btn btn-primary" (click)="addShopingList()">
        <i class="glyphicon glyphicon-plus"></i> Add Shopping List
      </button>
    </div>
    <div *ngIf="shoppingList.length>0 else noShopping">
      <app-shopping-list-detail 
        *ngFor="let shopping of shoppingList" 
        [shopping]="shopping"
        (changeImportant)="changeShoppingImportantLevel($event)"
        (edit)="editShoppingList($event)"
        (delete)="deleteShoppingList($event)"
      >
      </app-shopping-list-detail>
    </div>
    <ng-template #noShopping>
      <div class="alert alert-warning" role="alert">
          No Shopping List
      </div>
    </ng-template>
  </fieldset>
</div>